<%= render :partial => 'calagator/site/appropriateness_message' %>

<%= semantic_form_for(@source, :html => {:id => 'source_form', :class => 'standard_form'}, :url => { :action => :import }) do |f| %>
  <%= f.inputs :name => "Import a source" do %>
    <li class='input'>
      <p class='inline-hints'>
        Import one or more events from a feed or web page in one of the following formats:
        <%= Calagator::Source::Parser.labels.to_sentence %>
      </p>
    </li>
    <%= render 'layouts/calagator/code_input' unless authenticated? %>
    <%= f.input :url, label: "URL", input_html: { autofocus: true } %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :label => "Import" %>
  <% end %>

<% end %>
