<% cache(Calagator::CacheObserver.daily_key_for("site_index", request)) do %>
<div id="today_map">
  <h1>On the map</h1>
    <div id='front_page_map' class='front_page_map'>
      <%= map region_items(@current_location, 1000000), Calagator.venues_map_options %>
    </div>
</div>
<div id="whats_happening">
  <h1>What's happening in
    <%= select_tag :region, options_from_collection_for_select(LOCATIONS, :name, :name), 
      onchange: "window.location.href='#{request.base_url}?region=' + this[this.selectedIndex].text", 
      id: 'region-select' %>
  </h1>
  <h3><%= link_to("View All &raquo;".html_safe, events_path(:anchor => "event-#{@overview.more.id}")) if @overview.more %></h3>
  <div class='coming_events' id='today'>
    <h3>Today</h3>
      <%= render 'calagator/events/list', :events => @overview.today, :dates => false %>
  </div>
  <div class='coming_events' id='tomorrow'>
    <h3>Tomorrow</h3>
    <%= render 'calagator/events/list', :events => @overview.tomorrow, :dates => false %>
  </div>
  <div id='next_two_weeks'>
    <h3>Next two weeks</h3>
    <%= render 'calagator/events/list', :events => @overview.later %>
  </div>
  <div>
    <h3><%= link_to("View future events &raquo;".html_safe, events_path(:anchor => "event-#{@overview.more.id}")) if @overview.more %></h3>
  </div>
</div>
<% end %>
