<%= content_for :title, 'Home' %>

<% cache(Calagator::CacheObserver.daily_key_for("site_index", request)) do %>
<div id='region-selector'>
  <h1 id='whats-happening-h1'>
    <span id='title-span'>
      What's happening in
  </span>
  </h1>
  <div id='select-container'>
    <%= select_tag :region, 
      options_from_collection_for_select(LOCATIONS, 
                                         :name, 
                                         :name, 
                                         selected: session[:region]), 
      class: 'select-tag',
      id: 'region-select' %>
  </div>
</div>
<div id="today_map">
  <div id='front_page_map' class='front_page_map'>
    <%= map all_items, Calagator.venues_map_options
    .merge(center: @current_region_hash[:gps], zoom: @current_region_hash[:zoom]) %>
  </div>
  <div id='map-footer'>
    <div class='legend'>
      <div class='legend-box event-color'>
      </div>
      <div class='legend-text'>
        Event
      </div>
      <div class='legend-box featured-color'>
      </div>
      <div class='legend-text'>
        Featured
      </div>
      <div class='legend-box emergency-color'>
      </div>
      <div class='legend-text'>
        Crucial
      </div>
      <div class='legend-box ally-color'>
      </div>
      <div class='legend-text'>
        Ally 
      </div>
      <div class='legend-box branch-color'>
      </div>
      <div class='legend-text'>
        Branch
      </div>
    </div>
    <h1>
      <%= link_to "(Click for bigger map)", map_events_path, id: 'bigger-map-link' %>
    </h1>
  </div>
</div>
<div id="whats_happening">
  <h3><%= link_to("View All &raquo;".html_safe, regional_index_events_path) if @overview.more %></h3>
  <div class='coming_events' id='today'>
    <h3>Today</h3>
      <%= render 'calagator/events/list', :events => @overview.today, :dates => false %>
  </div>
  <div class='coming_events' id='tomorrow'>
    <h3>Tomorrow</h3>
    <%= render 'calagator/events/list', :events => @overview.tomorrow, :dates => false %>
  </div>
  <div id='next_two_weeks'>
    <h3>Next two weeks</h3>
    <%= render 'calagator/events/list', :events => @overview.later %>
  </div>
  <div>
    <h3><%= link_to("View future events &raquo;".html_safe, regional_index_events_path) if @overview.more %></h3>
  </div>
</div>
<% end %>
